/* changed by nate */

/* This file will hold the main styles for your website. */

/**
 * Created by Nate Millin (nate.millin@uwc.edu) 12-30-2011
 * 
 * http://gradients.glrzad.com/ was used to make the gradients.
 * use http://css3pie.com/ to add css3 features for ie6-8
 *
 * 
 */


/****** Start Global *****/
html {
    background-color: #FFFFFF;
    /*background-image: url("../images/bgGradient-main.jpg");/*Removed so using CSS3 for the background*/
    background-repeat: repeat-x;
    color: #000000;
    font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
}
body, body h2, body h3, body h4, body h5, body h6 {
    color: #333333;
    font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
}

ul li.leaf {list-style:none;}
/***** End Global *****/

/****** Start Header *****/
header {
    background: #9a0002;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9a0002), to(#670003));
background: -webkit-linear-gradient(#9a0002, #670003);
background: -moz-linear-gradient(#9a0002, #670003);
background: -ms-linear-gradient(#9a0002, #670003);
background: -o-linear-gradient(#9a0002, #670003);
background: linear-gradient(#9a0002, #670003);
-pie-background: linear-gradient(#9a0002, #670003);
behavior: url(/PIE.htc); /* this needs to have the path be corrected */
}

/**Start very top nav **/
#zone-user-wrapper {padding-top:15px; }

#region-user-second li {border-left: 1px solid #A67B3E; display: inline-block; line-height: 1; margin: 0; padding: 0 10px; }
#region-user-second li a:visited, #region-user-second li a:link {color:#EFE8D8; text-decoration:none; }
#region-user-second li {float:left; }
#region-user-second li.first {border-left:none; }

/* #block-menu-menu-very-top-menu should be the id of the menu that you placed above the search*/
#region-user-second #block-menu-menu-very-top-menu {float:right; padding-bottom:5px; } /* "add user bar menu id" */

/**End very top nav **/

/** Start branding region **/

/* start site-name & slogan */
h1.site-name a:link, h1.site-name a:visited {color:white; }
h1.site-name, h6.site-slogan, h2.site-name {font-family: "Comic Sans MS, Comic Sans MS5, cursive"; font-weight:100; }
h1.site-name, h2.site-name {font-size:50px; color:white; letter-spacing:2px; margin-top:10px; }
h1.site-name a:link, h1.site-name a:visited, h2.site-name a:link, h2.site-name a:visited {color:white; }
h6.site-slogan {font-size:14px; color:#c6bd88; letter-spacing:1px; }
.logo-img {display:none; }
/* end site-name & slogan */

#zone-branding {background-color: #B70101;
    color: #FFFFFF;
    height: 90px;
    position: relative;
    }
.logo-img {height: 104px; width: 70px; margin-top:-20px;}
#zone-branding-wrapper {padding-top:7px; }
.branding-data {}

/** Start search box **/
.block-search {padding:0px 0px 10px 0px; margin-bottom:10px; }
/** End search box **/

/** End branding region **/

/** Start Main Menu **/
#zone-menu-wrapper {margin-top:10px;
background: #AC0608;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#AC0608), to(#ab0907));
background: -webkit-linear-gradient(#AC0608, #ab0907);
background: -moz-linear-gradient(#AC0608, #ab0907);
background: -ms-linear-gradient(#AC0608, #ab0907);
background: -o-linear-gradient(#AC0608, #ab0907);
background: linear-gradient(#AC0608, #ab0907);
-pie-background: linear-gradient(#AC0608, #ab0907);
behavior: url(/PIE.htc);  /* this needs to have the path be corrected */
}
#zone-menu {   /** should add CSS3PIE for IE issues...   http://gradients.glrzad.com/.  Not sure how this will work w/ CSS3Pie.  It uses Hex instead of rgb**/
    background-image: linear-gradient(bottom, rgb(218,197,162) 6%, rgb(226,210,187) 53%, rgb(232,219,202) 87%);
    background-image: -o-linear-gradient(bottom, rgb(218,197,162) 6%, rgb(226,210,187) 53%, rgb(232,219,202) 87%);
    background-image: -moz-linear-gradient(bottom, rgb(218,197,162) 6%, rgb(226,210,187) 53%, rgb(232,219,202) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(218,197,162) 6%, rgb(226,210,187) 53%, rgb(232,219,202) 87%);
    background-image: -ms-linear-gradient(bottom, rgb(218,197,162) 6%, rgb(226,210,187) 53%, rgb(232,219,202) 87%);
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.06, rgb(218,197,162)),
	color-stop(0.53, rgb(226,210,187)),
	color-stop(0.87, rgb(232,219,202))
        );
    min-height:25px;
    box-shadow: 0 3px 4px rgba(60, 60, 60, 0.3);
    -moz-box-shadow: 0 3px 4px rgba(60, 60, 60, 0.3);
    -webkit-box-shadow: 0 3px 4px rgba(60, 60, 60, 0.3);
    z-index:6;
    position:relative;
}
#region-menu {}

/** other menu css at nice_menu_uw.css **/

/** End Main Menu **/

/**********************************************************
 * I stopped using the Nice Menu Module after doing some theming.  Nice Menus
 * doesn't allow for the Mega Menu without a lot of php & js so I will be using
 * Mega_Menu Module from here on http://www.cmsquickstart.com/blog/drupal-theme-design-tutorial-2-mega-menus
 **********************************************************/
/** Start Mega Menu **/

.megamenu-skin-uw-madison li.megamenu-parent {display:block; float:left; }

.megamenu-skin-uw-madison a:hover, .megamenu-skin-uw-madison li.hovering a {  }
.megamenu-skin-uw-madison a:link, .megamenu-skin-uw-madison a:visited {text-decoration:none; }
.megamenu-skin-uw-madison .megamenu-parent-title a {
	color:#b80404;
	padding:0 10px 0;
	font-size:14px;
	line-height:25px;
}
/* start border separating each parent menu item */
.megamenu-skin-uw-madison li.megamenu-parent {border-right:1px solid #f3ece2; border-left:1px solid #ae9779; }
.megamenu-skin-uw-madison li.megamenu-parent.first {border-left:none; }
.megamenu-skin-uw-madison li.megamenu-parent.last {border-right:none; }
/* end border separating each parent menu item */
.megamenu-skin-uw-madison li.megamenu-parent:hover, .megamenu-skin-uw-madison li.megamenu-parent.active {
	background-image: linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);
background-image: -o-linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);
background-image: -moz-linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);
background-image: -ms-linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.06, rgb(229,215,190)),
	color-stop(0.53, rgb(234,221,204)),
	color-stop(0.87, rgb(239,230,218))
);
}
/* use if you only have 2 lists in the dropdown (visiting campus & research only have 2 columns) */
.megamenu-skin-uw-madison #megamenu-mlid-547 .megamenu-bin, .megamenu-skin-uw-madison #megamenu-mlid-544 .megamenu-bin {width:400px !important; }
/* by default you will have the width of the dropdown set for 3 columns.  add the #id to the above selector if you only have 2 */
.megamenu-skin-uw-madison .megamenu-bin { /* sets the dropdown box info */
	z-index:-1;
	padding:10px;
	margin-top:-1px;
	background-color:#F0E7D8;
	font-size:0.9em;
	line-height:2em;
	width:600px !important;
	-moz-box-shadow: 3px 3px 4px rgba(60, 60, 60, 0.4);
	-webkit-box-shadow: 3px 3px 4px rgba(60, 60, 60, 0.4);
	box-shadow: 3px 3px 4px rgba(60, 60, 60, 0.4);
        opacity:0.95;
}
.megamenu-skin-uw-madison .megamenu-bin {list-style:none; }
.megamenu-skin-uw-madison .megamenu-slot-title a {
	color:#000000;
	font-weight:bold;
        font-family: "Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
        font-size:12px;
}
.megamenu-skin-uw-madison .megamenu-slot-title a,.megamenu-skin-uw-madison .megamenu-items li a {padding-left:10px;}/*little padding so bg-color:hover will have padding.*/
/** start hover effects for the mega-menu dropdown **/
.megamenu-skin-uw-madison .megamenu-slot-title:hover {background-color:#D1BD98; }
.megamenu-skin-uw-madison .megamenu-slot-title:hover a {color:#B70101; }
.megamenu-skin-uw-madison .megamenu-items li:hover {background-color:#D1BD98; }
.megamenu-skin-uw-madison .megamenu-items li a:hover,.megamenu-skin-uw-madison .megamenu-slot-title a:hover {text-decoration:none; }
/** end hover effects for the mega-menu dropdown **/
/** start the "read more" link **/
.megamenu-skin-uw-madison .megamenu-slot.last {width:100%;}
.megamenu-skin-uw-madison .megamenu-slot.last .megamenu-slot-title {float:right; padding:0px 10px 0 0; margin-top:10px; }
.megamenu-skin-uw-madison .megamenu-slot.last .megamenu-slot-title a {color:#B70101; font-weight:bold; }
/** end of "read more" link **/

.megamenu-skin-uw-madison .megamenu-items li a {color:#B70101; }
/** End Mega Menu **/
/***** End Header *****/

/****** Start Content *****/
#zone-content-wrapper {
    background: #e9e7db;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e9e7db), to(#ffffff));
background: -webkit-linear-gradient(#e9e7db, #ffffff);
background: -moz-linear-gradient(#e9e7db, #ffffff);
background: -ms-linear-gradient(#e9e7db, #ffffff);
background: -o-linear-gradient(#e9e7db, #ffffff);
background: linear-gradient(#e9e7db, #ffffff);
-pie-background: linear-gradient(#e9e7db, #ffffff);
behavior: url(/PIE.htc);
}
#zone-content {z-index:1; background-color:white; border-right:1px solid black; border-left:1px solid black; position:relative; }

/* Start quick facts skin as scean http://www.wisc.edu/academics/ */
#block-block-3 {background-color:#F1EDE7; width:275px; border: 1px solid #C9AB80; margin-bottom:10px;
    border-radius: 6px; 
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px;  }
#block-block-3 .content {padding-left: 20px; }
#block-block-3 h2 {line-height:1; font-size:14px; background-color:#C9AB80; color:#FFFFFF; padding:7px 5px 5px 20px; text-transform:uppercase; margin-bottom:15px; font-weight:bold; }
/* End quick facts skin */

/* Start red ul links widget skin (RESOURCES widget scean http://www.wisc.edu/academics/) */
#block-block-4 {width:290px;  }
#block-block-4 .content a:hover {text-decoration:underline; }
#block-block-4 .content a {color:#B70101; text-decoration:none;}
#block-block-4 .content li {color:#C9AB80; margin-left:35px; margin-bottom:.75em; line-height:1.2;}
#block-block-4 h2 {background-color:#B70101; color:#FFFFFF; line-height:2; margin-bottom:15px; text-transform:uppercase; padding-left:20px; font-weight:bold; }
/* End red ul links widget skin */

/***** End Content *****/

/****** Start Footer *****/
/*start first footer */
#zone-footer {border-right:1px solid black; border-width:1px; border-style:none solid; border-color:#666666; background-color:#666152; height:200px; }
/* use if you want the background chairs, just uncomment out the next link of code.*/
/*#zone-footer { background: url("../images/footer_1200.jpg") no-repeat scroll 0 0 #666152; }*/
#region-footer-first {color:#C8C5BB; }
#region-footer-first a:visited, #region-footer-first a:link {color:white; }
/*** add id's of blocks here to float them.  The block that is higher on the Structure > Block page will be farthest left. ***/    
#block-system-powered-by, #block-block-2 {float:left; padding:10px; padding-right:30px; }

/*end first footer */

/*start second footer */
#region-footer-second {text-align:center; font-size:11px;}
#region-footer-second a:visited, #region-footer-second a:link {color:#B70101;}
/*end second footer */
/***** End Footer *****/






/**
 * If you want to use a Mega Menu on your website comment this block of code.
 * I would rather have the default behavior be the Mega Menu, but if you are
 * creating a Mega Menu, you better know how to comment out this code.
 *
 * If you don't know how to comment out code, check out codeyear.com
 */

div.zone-menu li {display:block; float:left; margin-left:0px; margin-right:0px; }
.zone-menu a:link, .zone-menu a:visited {text-decoration:none; }
.zone-menu  a {
	color:#b80404;
	padding:0 10px 0;
	font-size:14px;
	line-height:25px;
}
.zone-menu  li {border-right:1px solid #f3ece2; border-left:1px solid #ae9779; }
.zone-menu li.first {border-left:none; }
.zone-menu  li.last {border-right:1px solid #ae9779; }
.zone-menu li:hover, .zone-menu  li.active {
	background-image: linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);
background-image: -o-linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);
background-image: -moz-linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);
background-image: -ms-linear-gradient(bottom, rgb(229,215,190) 6%, rgb(234,221,204) 53%, rgb(239,230,218) 87%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.06, rgb(229,215,190)),
	color-stop(0.53, rgb(234,221,204)),
	color-stop(0.87, rgb(239,230,218))
);
}
/* End of section to comment out for Mega Menu*/




