/* This file will hold styles that are loaded using the same media query as the narrow grid. */

/****** Start Global *****/

/***** End Global *****/

/****** Start Header *****/

/**Start Accordion Zone**/
#zone-accordion-wrapper li {padding:0 8px; }
#zone-accordion-wrapper a:visited, #zone-accordion-wrapper a:link {color:white; text-decoration:none; font-size:12px; }
/**End Accordion Zone**/

/**Start user zone **/
#region-user-first .region-inner {padding-left:62px; }
/**End user zone **/

/** Start branding zone **/

.logo-img {display:inline; }
.branding-data {float:left; }
h1.site-name, h2.site-name {font-size:40px; }
.block-search {float:right; padding:30px 10px 0 0;}

/** End branding zone **/

/** Start Main Menu zone **/
#zone-menu-wrapper {margin-top:0px; }


.megamenu-skin-uw-madison .megamenu-parent-title a { padding:0 6px 0; font-size:13px; }
/** End Main Menu zone **/

/****** Start Content Zone *****/

/***** End Content Zone *****/

/****** Start Preface Zone *****/

/***** End Preface Zone *****/

/****** Start Postscript Zone *****/

/***** End Postscript Zone *****/

/****** Start Footer Zone *****/

/***** End Footer Zone *****/

/****** Start Footer Postscript Zone *****/

/***** End Footer Postscript Zone *****/

