/* This file will hold styles that are loaded using the same media query as the narrow grid. */

/****** Start Global *****/

/***** End Global *****/

/****** Start Header *****/

/**Start very top nav **/

/**End very top nav **/

/** Start branding region **/

/* start site-name & slogan */
.logo-img {display:inline; }
/* end site-name & slogan */

.branding-data {float:left; }

/** Start search box **/
.block-search {float:right; padding:30px 10px 0 0;}
/** End search box **/

/** End branding region **/

/** Start Main Menu **/
#zone-menu-wrapper {margin-top:0px; }


/** Start Mega Menu **/
.megamenu-skin-uw-madison .megamenu-parent-title a { padding:0 6px 0; font-size:13px; }
/** End Mega Menu **/
/***** End Header *****/

/****** Start Content *****/


/***** End Content *****/

/****** Start Footer *****/
/*start first footer */

/*end first footer */

/*start second footer */

/*end second footer */
/***** End Footer *****/