/****** Start Content *****/
section#section-content {
    background: #e9e7db;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e9e7db), to(#ffffff));
background: -webkit-linear-gradient(#e9e7db, #ffffff);
background: -moz-linear-gradient(#e9e7db, #ffffff);
background: -ms-linear-gradient(#e9e7db, #ffffff);
background: -o-linear-gradient(#e9e7db, #ffffff);
background: linear-gradient(#e9e7db, #ffffff);
-pie-background: linear-gradient(#e9e7db, #ffffff);
behavior: url(/sites/all/libraries/PIE/PIE.php); 
}

#zone-content {z-index:1; background-color:white; border-right:1px solid black; border-left:1px solid black; position:relative; }
#zone-content h1#page-title, #zone-content h2#page-title {
    font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 12px;
    margin: .5em 0;
    
    /*alternative style*/
    /*font-family: "Myriad Pro","Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-weight: normal;
    font-size: 28px*/
}
#zone-content h2 {font-size: 13px; }

/* Start quick facts skin as seen http://www.wisc.edu/academics/ */
.quick-facts {background-color:#F1EDE7; max-width:275px; border: 1px solid #C9AB80; margin-bottom:10px;
    border-radius: 6px; 
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px;
    behavior: url(/sites/all/libraries/PIE/PIE.php); 
}
.quick-facts ul {list-style:none; }
.quick-facts .content {padding-left: 20px; }
.quick-facts h2.block-title {line-height:1; font-size:14px; background-color:#C9AB80; color:#FFFFFF; padding:7px 5px 5px 20px; text-transform:uppercase; margin-bottom:15px; font-weight:bold; }
.quick-facts h2.node-title a:visited, .quick-facts h2.node-title a:link {color:black; text-transform:uppercase; }
/* End quick facts skin */


/* Start red ul links widget skin (RESOURCES widget scean http://www.wisc.edu/academics/) */
.red-links {max-width:290px;  }
.red-links .content a:hover {text-decoration:underline; }
.red-links .content a {color:#B70101; text-decoration:none;}
.red-links .content li {color:#C9AB80; margin-left:35px; margin-bottom:.75em; line-height:1.2;}
.red-links h2.block-title {background-color:#B70101; color:#FFFFFF; line-height:2; margin-bottom:15px; text-transform:uppercase; padding-left:20px; font-weight:bold; }
/* End red ul links widget skin */


/* Start Quick Links widget (http://uc.wisc.edu/brand/templates-and-downloads/web/index-top-nav-and-left-sidebar/index.html)*/
.quick-links h2.block-title {color:#666666; font-size:13px; }
.quick-links a:link, .quick-links a:visited {color:#B70101; text-decoration:none; }
.quick-links a:hover {text-decoration:underline; }
.block-menu.quick-links li {margin-left:0; margin-bottom:7px; font-size:16px; }
/* End Quick Links widget */


/* Start Sidebar Menu -- set title <none> */
.sidebar-menu a:link, .sidebar-menu a:visited {color:#B70101; text-decoration:none; font-size:14px; }
.sidebar-menu a:hover {text-decoration:underline; }
.block-menu.sidebar-menu li {margin-bottom:8px; margin-left:0; }
/* End Sidebar Menu */


/* Start Breadcrumbs */
.breadcrumb a:link, .breadcrumb a:visited {color:#B70101; text-decoration:none; }
.breadcrumb a:hover {text-decoration:underline; }
/*.breadcrumb {float:right; padding-right:20px; }*/
/* End Breadcrumbs */

/***** End Content *****/
