/****** Start Footer *****/
/*start first footer */
#zone-footer {border-right:1px solid black; border-width:1px; border-style:none solid; border-color:#666666; height:200px; background-color: #6E6A5B; border-top: 2px solid #B70101; }

/* use if you want the background chairs, just uncomment out the next link of code.*/
/*#zone-footer { background: url("../images/footer_1200.jpg") no-repeat scroll 0 0 #666152; }*/

/** Footer Skin **/
#zone-footer h2 {color:white; font-size:13.5px; font-weight:700; line-height:13.5px; margin-bottom:10px; }
#zone-footer a:visited, #zone-footer a:link {color:#D5D2C9; }
#zone-footer a:hover {color:white; }
#zone-footer {color:#C8C5BB; padding:15px 0 11px; }