/****** Start Header *****/
header#section-header {
    background: #9a0002;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9a0002), to(#670003));
background: -webkit-linear-gradient(#9a0002, #670003);
background: -moz-linear-gradient(#9a0002, #670003);
background: -ms-linear-gradient(#9a0002, #670003);
background: -o-linear-gradient(#9a0002, #670003);
background: linear-gradient(#9a0002, #670003);
-pie-background: linear-gradient(#9a0002, #670003);
behavior: url(/sites/all/libraries/PIE/PIE.php); 
}

.zone-header {background-color:#B70101; }
/***** End Header *****/