/** Start Main Menu **/
#zone-menu-wrapper {margin-top:0px;
    background: #AC0608;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#AC0608), to(#ab0907));
    background: -webkit-linear-gradient(#AC0608, #ab0907);
    background: -moz-linear-gradient(#AC0608, #ab0907);
    background: -ms-linear-gradient(#AC0608, #ab0907);
    background: -o-linear-gradient(#AC0608, #ab0907);
    background: linear-gradient(#AC0608, #ab0907);
    -pie-background: linear-gradient(#AC0608, #ab0907);
    behavior: url(/sites/all/libraries/PIE/PIE.php); 
}
#zone-menu {   
    /*
    min-height:25px;
    */
    position:relative;
    z-index:6;
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
    background: #e8dbca;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e8dbca), to(#dac5a2));
    background: -webkit-linear-gradient(#e8dbca, #dac5a2);
    background: -moz-linear-gradient(#e8dbca, #dac5a2);
    background: -ms-linear-gradient(#e8dbca, #dac5a2);
    background: -o-linear-gradient(#e8dbca, #dac5a2);
    background: linear-gradient(#e8dbca, #dac5a2);
    -pie-background: linear-gradient(#e8dbca, #dac5a2);
    behavior: url(/sites/all/libraries/PIE/PIE.php); 
}
#region-menu {margin-left:0; margin-right:0; width:960px; }

div.zone-menu li {display:block; float:left; margin-left:0px; margin-right:0px; padding-right:3px; padding-left:3px; }
div.zone-menu a:link, .zone-menu a:visited {text-decoration:none; }
div.zone-menu  a {
    color:#b80404;
    padding:0 10px 0;
    font-size:14px;
    line-height:25px;
}
.zone-menu li {text-transform:uppercase; }
.zone-menu li {border-right:1px solid #f3ece2; border-left:1px solid #ae9779; }
.zone-menu li.first {border-left:none; }
.zone-menu li.last {border-right:1px solid #ae9779; }
.zone-menu li:hover, .zone-menu  li.active {
    background: #efe6da;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#efe6da), to(#e5d7be));
    background: -webkit-linear-gradient(#efe6da, #e5d7be);
    background: -moz-linear-gradient(#efe6da, #e5d7be);
    background: -ms-linear-gradient(#efe6da, #e5d7be);
    background: -o-linear-gradient(#efe6da, #e5d7be);
    background: linear-gradient(#efe6da, #e5d7be);
    -pie-background: linear-gradient(#efe6da, #e5d7be);
    behavior: url(/sites/all/libraries/PIE/PIE.php); 
}








/** Start SuperFish Menu -- Code needs to be configured for UW Madison's Mega Menu.  Taken from Blue.css in libraries/Superfish/styles **/
/* 
.sf-menu.main-menu {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.main-menu.sf-navbar {
  width: 100%;
}
.sf-menu.main-menu ul {
  padding-left: 0;
}
.sf-menu.main-menu a {
  border: 1px outset #003973;
  color: #ffffff;
  padding: 0.75em 1em;
  white-space: nowrap;
}
.sf-menu.main-menu a.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.main-menu.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.main-menu.sf-navbar a {
  border: 0;
}
.sf-menu.main-menu span.sf-description {
  color: #13a;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.main-menu li,
.sf-menu.main-menu.sf-navbar {
  background: #095cb1;
}
.sf-menu.main-menu li li {
  background: #0151a4;
}
.sf-menu.main-menu li li li {
  background: #00478f;
}
.sf-menu.main-menu li:hover,
.sf-menu.main-menu li.sfHover,
.sf-menu.main-menu li.active a,
.sf-menu.main-menu a:focus,
.sf-menu.main-menu a:hover,
.sf-menu.main-menu a:active,
.sf-menu.main-menu.sf-navbar li li {
  background: #3270c5;
  color: #ffea00;
}
.sf-menu.main-menu.sf-navbar li ul {
  background-color: #3270c5;
}
.sf-menu.main-menu.sf-navbar li ul li ul {
  background-color: transparent;
}
.sf-menu.main-menu ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.main-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li {
	margin: 0;
	padding: 0;
}
.sf-menu.main-menu ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
	font-weight: bold;
}
.sf-menu.main-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	display: inline;
	float: left;
	width: 12em;
}
.sf-menu.main-menu.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	float: right;
}
.sf-menu.main-menu li.sf-parent-children-1 ul.sf-megamenu {
	width: 12em;
}
.sf-menu.main-menu li.sf-parent-children-2 ul.sf-megamenu {
	width: 24em;
}
.sf-menu.main-menu li.sf-parent-children-3 ul.sf-megamenu {
	width: 36em;
}
.sf-menu.main-menu li.sf-parent-children-4 ul.sf-megamenu {
	width: 48em;
}
.sf-menu.main-menu li.sf-parent-children-5 ul.sf-megamenu {
	width: 60em;
}
.sf-menu.main-menu li.sf-parent-children-6 ul.sf-megamenu {
	width: 72em;
}
.sf-menu.main-menu li.sf-parent-children-7 ul.sf-megamenu {
	width: 84em;
}
.sf-menu.main-menu li.sf-parent-children-8 ul.sf-megamenu {
	width: 96em;
}
.sf-menu.main-menu li.sf-parent-children-9 ul.sf-megamenu {
	width: 108em;
}
.sf-menu.main-menu li.sf-parent-children-10 ul.sf-megamenu {
	width: 120em;
}












/** End SuperFish Menu **/



